<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <display-name>Hostel</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>userlogin</display-name>
    <servlet-name>userlogin</servlet-name>
    <servlet-class>com.hostelmanagement.controller.userlogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userlogin</servlet-name>
    <url-pattern>/userlogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RoomBookingServlet</display-name>
    <servlet-name>RoomBookingServlet</servlet-name>
    <servlet-class>com.hostelmanagement.controller.RoomBookingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RoomBookingServlet</servlet-name>
    <url-pattern>/RoomBookingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RoomBookingService</display-name>
    <servlet-name>RoomBookingService</servlet-name>
    <servlet-class>com.hostelmanagement.controller.RoomBookingService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RoomBookingService</servlet-name>
    <url-pattern>/RoomBookingService</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>adminlogin</display-name>
    <servlet-name>adminlogin</servlet-name>
    <servlet-class>com.hostelmanagement.controller.adminlogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminlogin</servlet-name>
    <url-pattern>/adminlogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.hostelmanagement.controller.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddRoomServlet</display-name>
    <servlet-name>AddRoomServlet</servlet-name>
    <servlet-class>com.hostelmanagement.controller.AddRoomServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddRoomServlet</servlet-name>
    <url-pattern>/AddRoomServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveRoomServlet</display-name>
    <servlet-name>RemoveRoomServlet</servlet-name>
    <servlet-class>com.hostelmanagement.controller.RemoveRoomServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveRoomServlet</servlet-name>
    <url-pattern>/RemoveRoomServlet</url-pattern>
  </servlet-mapping>
</web-app>